---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/294021/historical/24?apikey=<ACCUWEATHER_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '49'
      Akamai-Grn:
      - 0.089eca17.1697556069.eb3facd7
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-10-17T18:03:00+03:00","EpochTime":1697554980,"WeatherText":"Light
        rain","WeatherIcon":40,"HasPrecipitation":true,"PrecipitationType":"Rain","IsDayTime":false,"Temperature":{"Metric":{"Value":2.8,"Unit":"C","UnitType":17},"Imperial":{"Value":37.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us"},{"LocalObservationDateTime":"2023-10-17T16:58:00+03:00","EpochTime":1697551080,"WeatherText":"Mostly
        cloudy","WeatherIcon":6,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":3.9,"Unit":"C","UnitType":17},"Imperial":{"Value":39.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link[...]
