---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/294021/historical/24?apikey=<ACCUWEATHER_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '23'
      Akamai-Grn:
      - 0.149eca17.1697649349.529bf100
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-10-18T19:57:00+03:00","EpochTime":1697648220,"WeatherText":"Rain","WeatherIcon":18,"HasPrecipitation":true,"PrecipitationType":"Rain","IsDayTime":false,"Temperature":{"Metric":{"Value":3.9,"Unit":"C","UnitType":17},"Imperial":{"Value":39.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us"},{"LocalObservationDateTime":"2023-10-18T18:57:00+03:00","EpochTime":1697644620,"WeatherText":"Rain","WeatherIcon":18,"HasPrecipitation":true,"PrecipitationType":"Rain","IsDayTime":false,"Temperature":{"Metric":{"Value":5.0,"Unit":"C","UnitType":17},"Imperial":{"Value":41.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link":"http://www.[...]
