---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1//historical/24?apikey=<ACCUWEATHER_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Code":"ServiceUnavailable","Message":"The allowed number of requests
        has been exceeded.","Reference":"/currentconditions/v1/historical/24?apikey=<ACCUWEATHER_API_KEY>"}'
  recorded_at: Tue, 17 Oct 2023 15:19:07 GMT
recorded_with: VCR 6.2.0
